:root {
	--primery-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --main-txt-clr: #2e2f42;
    --secondary-txt-clr: #434455;
    --light-txt-clr: #f4f4fd;
    --teamcard-bg-clr: #f4f4fd;
    --main-bg-clr: #ffffff;
    --secondary-bg-clr: #2e2f42;
    --accent-color: #404bbf;
    --active-btn-clr: #4d5ae5;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--secondary-txt-clr);
	background-color: var(--main-bg-clr);
}

.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--active-btn-clr);
}

.logo__part {
	color: var(--main-txt-clr);
}

.link {
	text-decoration: none;
}

.list {
	list-style: none;
}

.part__one {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--main-txt-clr);
}

.part__two {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--secondary-txt-clr);
}

.part__one:hover {
	color: var(--accent-color);
}

.part__two:hover {
	color: var(--accent-color);
}

.part__one:focus {
	color: var(--accent-color);
}

.part__two:focus {
	color: var(--accent-color);
}

.contacts {
	font-style: normal
}

.section__one {
	background-color: var(--main-txt-clr);
}

.section__one__title {
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--main-bg-clr);
}

.section__one__button {
	background-color: var(--active-btn-clr);
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--main-bg-clr);
	cursor: pointer;
}

.section__one__button:hover {
	background-color: var(--accent-color);
}

.section__one__button:focus {
	background-color: var(--accent-color);
}

.section__two__menu__title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--secondary-bg-clr);
}

.section__two__menu__description {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--secondary-txt-clr);
}

.section__three__title {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--secondary-bg-clr);
}

.section__four {
	background-color: var(--light-txt-clr);
}

.section__four__title {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--main-txt-clr);
}

.section__four__part {
	background-color: var(--main-bg-clr);
}

.section__four__part__title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--main-txt-clr);
}

.section__four__part__description {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--secondary-txt-clr);
}

.footer {
	background-color: #2e2f42 var(--main-txt-clr);
}

.footer__logo {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--active-btn-clr);
}

.footer__logo__part {
	color: var(--light-txt-clr);
}

.portfolio__button {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--active-btn-clr);
	background-color: var(--light-txt-clr);
	cursor: pointer;
}

.portfolio__button:hover {
	color: var(--main-bg-clr);
	background-color: var(--accent-color);
}

.portfolio__button:focus {
	color: var(--main-bg-clr);
	background-color: var(--accent-color);
}

.portfolio__title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--main-txt-clr);
}

.portfolio__description {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--secondary-txt-clr);
}