:root {
	--primery-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --main-txt-clr: #2e2f42;
    --secondary-txt-clr: #434455;
    --light-txt-clr: #f4f4fd;
    --teamcard-bg-clr: #f4f4fd;
    --main-bg-clr: #ffffff;
    --secondary-bg-clr: #2e2f42;
    --accent-color: #404bbf;
    --active-btn-clr: #4d5ae5;
}

body {
	font-family: "Roboto", sans-serif;
	color: #434455;
	background-color: #FFFFFF;
}

.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
}

.logo__part {
	color: #2e2f42;
}

.link {
	text-decoration: none;
}

.list {
	list-style: none;
}

.part__one {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.part__two {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.part__one:hover {
	color: #404bbf;
}

.part__two:hover {
	color: #404bbf;
}

.part__one:focus {
	color: #404bbf;
}

.part__two:focus {
	color: #404bbf;
}

.contacts {
	font-style: normal
}

.section__one {
	background-color: #2e2f42;
}

.section__one__title {
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
	color: #ffffff;
}

.section__one__button {
	background-color: #4D5AE5;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	cursor: pointer;
}

.section__one__button:hover {
	background-color: #404BBF;
}

.section__one__button:focus {
	background-color: #404BBF;
}

.section__two__menu__title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.section__two__menu__description {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.section__three__title {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #2e2f42;
}

.section__four {
	background-color: #F4F4FD;
}

.section__four__title {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #2e2f42;
}

.section__four__title {
	background-color: #FFFFFF;
}

.section__four__part__title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.section__four__part__description {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}