:root {
  /* Fonts */
  --primery-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Color */
  --main-txt-clr: #2e2f42;
  --secondary-txt-clr: #434455;
  --light-txt-clr: #f4f4fd;
  --teamcard-bg-clr: #f4f4fd;
  --main-bg-clr: #ffffff;
  --secondary-bg-clr: #2e2f42;
  --accent-color: #404bbf;
  --active-btn-clr: #4d5ae5;

  /* Others */
}
/* Base styles */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Common */
body {
  font-size: 16px;
  font-family: var(--primery-font);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-clr);
  background-color: var(--main-bg-clr);
}
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--main-txt-clr);
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-txt-clr);
}
.uppertitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-clr);
}
/* Navigation panel */
.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--active-btn-clr);
}
.second-header-logo {
  color: var(--main-txt-clr);
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-txt-clr);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
/* Contacts panel */
.contacts {
  font-style: normal;
}
.link-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-clr);
}
.link-address:hover,
.link-address:focus {
  color: var(--accent-color);
}
/* Hero section */
.hero {
  background: var(--secondary-bg-clr);
}
.modal-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-bg-clr);
  background: var(--active-btn-clr);
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  background: var(--accent-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-bg-clr);
}
/* Site filter section */
.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--active-btn-clr);
  background: var(--teamcard-bg-clr);
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--main-bg-clr);
  background: var(--accent-color);
}
/* PORTFOLIO */
/* Team section */
.team-section-style {
  background: var(--teamcard-bg-clr);
}
.team-card-background {
  background: var(--main-bg-clr);
}
/* Footer */
.footer-comments {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-txt-clr);
}
.footer {
  background: var(--secondary-bg-clr);
}
.second-footer-logo {
  color: var(--light-txt-clr);
}
